.jumbotron.dashboard-jumbo(ng-init='init()')
  h1 Dashboard
.container-fluid
  .row
    .col-md-8
      .row
        .col-md-12

    .col-md-4
      .row
        .col-md-12
          button.btn.btn-success.newArticleButton(ng-click='edit(-1)') New
          .article(ng-repeat='article in articles')
            .panel.panel-danger
              .panel-heading.clearfix
                h4.pull-left(ng-hide='isEditing($index)') {{article.title}}
                .form-group
                  input.form-control.pull-left(ng-show='isEditing($index)' placeholder='Enter Title' ng-model='article.title')
                  button.btn.btn-default.pull-right(ng-hide='isEditing($index)' ng-click='edit($index)')
                    a.glyphicon.glyphicon-cog
                  button.btn.pull-right(ng-show='isEditing($index)' ng-click='save($index)') Save
              .panel-body
                p(ng-hide='isEditing($index)') {{article.body}}
                textarea.form-control(ng-show='isEditing($index)' placeholder='Enter Text' ng-model='article.body')
                p.text-right {{article.createdBy.username}}
