extends layout

block content
  h1= title
  p Welcome to #{title}
  form
    ul
      li(ng-repeat='message in messages') {{message}}
    br
    input(type='text' width='300px' ng-model='message')
    input(type='button' value='Send' ng-click='sendMessage()')
