extends layout

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          form(action='/auth/login' method='post')
            .panel-heading
              h1= title
            .panel-body
              .form-group
                label Email
                input.form-control(type='email' name='email')
              .form-group
                label Password
                input.form-control(type='password' name='password')
            .panel-footer
              button.btn.btn-default(type='submit') Login
              a.btn.btn-link(href='/auth/signup') Sign Up
              a.btn.btn-link(href='/auth/forgot') Forgot Password?
