extends layout

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          form(action='/auth/login' method='post')
            .panel-heading
              h1= title
            .panel-body
              if(message)
                .alert.alert-danger= message
              .form-group
                label Username
                input.form-control(type='text' name='username')
              .form-group
                label Password
                input.form-control(type='password' name='password')
            .panel-footer
              button.btn.btn-default(type='submit') Login
              a.btn.btn-link(href='/auth/register') Register
              a.btn.btn-link(href='/auth/forgot') Forgot Password?
