extends layout

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          form(action='/auth/reset/'+token method='POST')
            .panel-heading
              h1= title
            .panel-body
              .form-group
                label(for='username') Email
                p.form-control-static= email
              .form-group
                label(for='password') New Password
                input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
              .form-group
                label(for='confirm') Confirm Password
                input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
            .panel-footer
              button.btn.btn-primary(type='submit') Reset Password
