@import url('./login.css');

body {
  background-color: #5b5b5b;
}

.navbar {
  margin-bottom: 0px;
}

.dashboard-jumbo {
  background-image: url('/pictures/baseball-in-glove.jpg');
  background-position:center;
  background-size: 100%;
  height:200px;
  padding: 30px;
  color:#ffffff;
  font-weight: bolder;
}
